body{
    margin: 0; 
    padding: 0;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif, 'Courier New', Courier, monospace;
    font-size: 16px;
}

.title{
    color: hsl(223, 47%, 23%);
    font-weight: 500px;
}

.paragraph{
    color: hsl(224, 23%, 55%);
    font-weight: 500px;
    padding: 0px;
}

a{
    color: hsl(245, 75%, 52%);
}

.container{
    margin: 90px auto;
    width: 100%;
    max-width: 500px;
		min-height: 760px;
    max-height: 760px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "header    header"
                         "header    header" 
                         "main      main"
                         "main      main"
                         "main      main";
    box-shadow: 0px 20px 30px 0px hsl(241, 30%, 52%);
    border-radius: 20px 20px 20px 20px;
}

.container .header{
    background-image: url(images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: header;
    border-radius: 20px 20px 0px 0px;
}

.container .main{
    background-color: hsl(225, 100%, 98%);
    position: relative;
    padding: 20px 70px;
    grid-area: main;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "text      text"
                         "widget    widget"
                         "payment   payment"
                         "footer    footer";
    border-radius: 0px 0px 20px 20px;
}

.container .main .text,
.container .main .payment,
.container .main .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container .main .text{
    grid-area: text;
}

.container .main .widget{
    grid-area: widget;
    background-color:  hsl(225, 100%, 94%);
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    border-radius: 7px;
}

.container .main .payment{
    grid-area: payment;    
}

.container .main .footer{
    grid-area: footer;
    font-size: 20px;
}

.container .main .footer a:hover{
    text-decoration: none;
    color: hsl(223, 47%, 23%);  
}

.container .main .widget .icon{
    display: flex;
    align-items: center;
    justify-content: center;
		width: 25%;
}

.container .main .widget .price{
    display: flex;
    flex-direction: column;
		justify-content: flex-start;
		width: 37.5%;
}

.container .main .widget .change{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 37.5%;
}

.container .main .widget .price .title{
    font-size: 19px;
}

.container .main .widget .price .paragraph{
    font-size: 18px;
}

.container .main .widget .price a{
    align-self: flex-end;
}

.container .main .widget .change a:hover{
    color: hsl(241, 30%, 52%);
}

.container .main .payment button{
    padding: 15px;
    background-color : hsl(245, 75%, 52%);
    border: none;
    border-radius: 8px;
    color: hsl(225, 100%, 98%);
    box-shadow: 0px 12px 10px 6px hsl(225, 100%, 94%);
}

.container .main .payment button:hover{
    background-color: hsl(241, 30%, 52%);
}

@media screen and (max-width: 375px) {
    body{
        background-image: url(images/pattern-background-mobile.svg);
    }
    
    .container{
        width: 90%;
        margin: 20px 15px;
    }

    .container .main{
        padding: 15px 20px;
    }   
}